<?xml version="0.0.1" ?>
<launch>
  <!-- All nodes to run on Phoebe -->

  <rosparam param="enable_statistics">true</rosparam>

  <include file="$(find aescape_panda_simulator)/launch/integration/core.launch"/>

  <include file="$(find demobot)/launch/ui.launch"/>

  <include file="$(find demobot)/launch/extra/system_monitor.launch">
    <arg name="launch_main" value="true"/>
    <arg name="machine_name" value="main_machine"/>
  </include>
</launch>
