<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aescape_robot">

  <xacro:arg name="load_gazebo" default="false"/>
  <xacro:arg name="robot_1" default="left"/>
  <xacro:arg name="robot_2" default="right"/>

  <xacro:include filename="$(find aescape_panda_simulator)/urdf/panda_arm.xacro"/>
      
  <link name="world"/>

  <xacro:unless value="$(arg load_gazebo)">  

    <xacro:panda_arm arm_id="$(arg robot_1)" connected_to="world" in_gazebo="true" xyz="0 -0.5 0" rpy="0 0 0" />
    <xacro:panda_arm arm_id="$(arg robot_2)" connected_to="world" in_gazebo="true" xyz="0 0.5 0" rpy="0 0 0" />

  </xacro:unless>

  <xacro:if value="$(arg load_gazebo)">  

    <xacro:include filename="$(find aescape_panda_simulator)/urdf/panda.gazebo.xacro"/>
    <xacro:include filename="$(find aescape_panda_simulator)/urdf/panda.transmission.xacro"/>

    <xacro:panda_arm arm_id="$(arg robot_1)" connected_to="world" in_gazebo="true" xyz="0 -0.5 0" rpy="0 0 0" />
    <xacro:panda_arm arm_id="$(arg robot_2)" connected_to="world" in_gazebo="true" xyz="0 0.5 0" rpy="0 0 0" />

    <xacro:panda_gazebo robot_name="$(arg robot_1)"/>
    <xacro:panda_gazebo robot_name="$(arg robot_2)"/>

    <xacro:panda_transmission robot_name="$(arg robot_1)"/>
    <xacro:panda_transmission robot_name="$(arg robot_2)"/>
 
  </xacro:if>

</robot>