<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="panda_gazebo">

        <!-- Link0 -->
        <gazebo reference="link0">
            <material>Gazebo/Grey</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
        <!-- Link1 -->
        <gazebo reference="link1">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
        <!-- Link2 -->
        <gazebo reference="link2">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
        <!-- Link3 -->
        <gazebo reference="link3">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
        <!-- Link4 -->
        <gazebo reference="link4">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
        <!-- Link5 -->
        <gazebo reference="link5">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
        <!-- Link6 -->
        <gazebo reference="link6">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
        <!-- Link7 -->
        <gazebo reference="link7">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>
        <!-- Link8 -->
        <gazebo reference="link8">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Joint1 -->
        <gazebo reference="joint1">
          <implicitSpringDamper>1</implicitSpringDamper>
          <provideFeedback>true</provideFeedback>
        </gazebo>
        <!-- Joint2 -->
        <gazebo reference="joint2">
          <implicitSpringDamper>1</implicitSpringDamper>
          <provideFeedback>true</provideFeedback>
        </gazebo>
        <!-- Joint3 -->
        <gazebo reference="joint3">
          <implicitSpringDamper>1</implicitSpringDamper>
          <provideFeedback>true</provideFeedback>
        </gazebo>
        <!-- Joint4 -->
        <gazebo reference="joint4">
          <implicitSpringDamper>1</implicitSpringDamper>
          <provideFeedback>true</provideFeedback>
        </gazebo>
        <!-- Joint5 -->
        <gazebo reference="joint5">
          <implicitSpringDamper>1</implicitSpringDamper>
          <provideFeedback>true</provideFeedback>
        </gazebo>
        <!-- Joint6 -->
        <gazebo reference="joint6">
          <implicitSpringDamper>1</implicitSpringDamper>
          <provideFeedback>true</provideFeedback>
        </gazebo>
        <!-- Joint7 -->
        <gazebo reference="joint7">
          <implicitSpringDamper>1</implicitSpringDamper>
          <provideFeedback>true</provideFeedback>
        </gazebo>
        <!-- Joint8 -->
        <gazebo reference="joint8">   
          <implicitSpringDamper>1</implicitSpringDamper>    
          <provideFeedback>true</provideFeedback>
        </gazebo>

    </xacro:macro>

</robot>

