<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="aescape_robot">

  <xacro:include filename="$(find aescape_gazebo)/urdf/panda_arm.xacro"/>
  <xacro:include filename="$(find aescape_gazebo)/urdf/tool.xacro"/>

  <xacro:arg name="use_gazebo" default="true"/>
  <xacro:arg name="load_tool" default="false"/>

  <xacro:macro name="arm" params="arm_id:='panda' use_gazebo:='true'">
    <link name="${arm_id}_arm_base_link"/>
    <xacro:panda_arm arm_id="${arm_id}_arm" connected_to="${arm_id}_arm_base_link" in_gazebo="${use_gazebo}"  xyz="0 0 0" rpy="0 0 0"/>
  </xacro:macro>

  <joint name="right_arm_base_link_calibration" type="fixed">
    <parent link="left_arm_base_link"/>
    <child link="right_arm_base_link"/>
    <origin xyz="1.0176 0.0111 -0.0046" rpy="0 0 ${pi}" /> <!-- Default Values -->
  </joint>

  <xacro:arm arm_id="right"/>
  <xacro:arm arm_id="left"/>
  <xacro:tool arm_id="left"  connected_to="left_arm_link8" rpy="${pi/2} 0 0" xyz="-0.02 0.0 0.046"/>
  <xacro:tool arm_id="right" connected_to="right_arm_link8" rpy="${pi/2} 0 0" xyz="-0.02 0.0 0.046"/>
  
  <xacro:if value="$(arg use_gazebo)">  

    <xacro:include filename="$(find aescape_gazebo)/urdf/panda.gazebo.xacro"/>
    <xacro:include filename="$(find aescape_gazebo)/urdf/panda.transmission.xacro"/>
    <xacro:include filename="$(find aescape_gazebo)/urdf/depth_camera.xacro"/>

    <xacro:panda_gazebo robot_name="left_arm"/>
    <xacro:panda_gazebo robot_name="right_arm"/>

    <xacro:panda_transmission robot_name="left_arm" robot_ns="left"/>
    <xacro:panda_transmission robot_name="right_arm" robot_ns="right"/>

    <xacro:depth_camera 
    camera_name="left_camera_base" 
    connected_to="left_arm_base_link" 
    xyz="0.1404396785274887 -0.05307111179809734 1.358923271686402" 
    rpy="2.610 1.156 -0.605"/>

    <xacro:depth_camera 
    camera_name="center_camera_base" 
    connected_to="left_arm_base_link" 
    xyz="0.512 0.885 1.288" 
    rpy="1.482 0.767 -1.520"/>

    <xacro:depth_camera 
    camera_name="right_camera_base" 
    connected_to="left_arm_base_link" 
    xyz="0.890 -0.033 1.358" 
    rpy="-2.960 1.106 -2.920"/>

  </xacro:if>

  <link name="table_center">
    <visual>
      <geometry>
      	<box size="0.76 1.83 0.1"/>
      </geometry>
      <!--material name="Grey">
	      <color rgba="0.5 0.5 0.5 0.8"/>
      </material-->
      <origin rpy="0 0 0" xyz="0 -0.6332 -0.05"/>
    </visual>
    <collision>
      <geometry>
        <box size="0.76 1.83 0.1"/>
      </geometry>
      <origin rpy="0 0 0" xyz="0 -0.6332 -0.05"/>
    </collision>
    <inertial>
        <mass value="0.2"/>
        <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
    <gazebo reference="table_center">
      <material>Gazebo/Black</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>
  </link>

  <joint name="table_center_calibration" type="fixed">
    <parent link="left_arm_base_link"/>
    <child link="table_center"/>
    <origin xyz="0.5058 -0.023642 0.3334" rpy="0 0 0" /> <!-- Default Values -->
  </joint>

  <!-- <link name="table">
    <visual>
      <geometry>
	<mesh filename="package://aescape_description/meshes/BaseFrame_Collada.dae"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
	<mesh filename="package://aescape_description/meshes/BaseFrame_Collada.dae"/>
      </geometry>
    </collision>
  </link>
  <joint name="table_base_joint" type="fixed">
    <origin xyz="0 -0.25 -0.305" rpy="0 0 0"/>
    <parent link="table_center"/>
    <child link="table"/>
  </joint> -->

  <link name="canonical_body_origin"/>
  <joint name="canonical_body_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.0468 0"/>
    <parent link="table_center"/>
    <child link="canonical_body_origin"/>
  </joint>

  <link name="canonical_smpl_origin"/>
  <joint name="canonical_smpl_origin_joint" type="fixed">
    <origin xyz="0 0 0.1" rpy="0 3.14 0" />
    <parent link="table_center"/>
    <child link="canonical_smpl_origin"/>
  </joint>

</robot>
