<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="tool">

  <xacro:macro name="tool" params="arm_id:='panda' connected_to:='' rpy:='0 0 0' xyz:='0.0 0.0 0.0'">

    <link name="${arm_id}_arm_tool_link">      
      <visual>
        <geometry>
          <mesh filename="package://aescape_gazebo/meshes/visual/left_tp.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://aescape_gazebo/meshes/visual/left_tp.stl"/>
        </geometry>
      </collision>
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.68"/>
        <inertia ixx="0.1" ixy="0.0" ixz="0.0" iyy="0.1" iyz="0.0" izz="0.1"/>
      </inertial>
    </link>

    <joint name="${arm_id}_arm_joint_tool" type="fixed">
      <parent link="${connected_to}"/>
      <child link="${arm_id}_arm_tool_link"/>
      <origin rpy="${rpy}" xyz="${xyz}"/>
    </joint>

    <gazebo reference="${arm_id}_arm_tool_link">
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

  </xacro:macro>

</robot>