<launch>
    <!-- This argument defines the left arm workspace -->
    <arg name="extra_controller" default=""/>

    <!-- Load controller configuration -->
    <rosparam   file="$(find aescape_gazebo)/config/controllers.yaml" command="load"/>

    <!-- Left: Load the controller_spawner -->
    <node   name="controller_spawner" 
            pkg="controller_manager" 
            type="spawner" 
            respawn="false"
            output="screen" 
            ns="left"
            args="joint_state_controller cartesian_motion_controller $(arg extra_controller)"/> 
            
    <!-- Right: Load the controller_spawner -->
    <node   name="controller_spawner" 
            pkg="controller_manager" 
            type="spawner" 
            respawn="false"
            output="screen" 
            ns="right"
            args="joint_state_controller cartesian_motion_controller $(arg extra_controller)"/>

</launch>