<launch>

    <!-- This argument defines the workspace -->
    <arg name="ns1" default="left"/>
    <arg name="ns2" default="right"/>

    <!-- Left: Load robot_description to parameter server -->
    <param  name="$(arg ns1)/robot_description" command="$(find xacro)/xacro --inorder '$(find aescape_panda_simulator)/urdf/panda_arm.urdf.xacro' load_gazebo:=true robot_name:=$(arg ns1) origin_y:=-0.5"/>

    <!-- Right: Load robot_description to parameter server -->
    <param  name="$(arg ns2)/robot_description" command="$(find xacro)/xacro --inorder '$(find aescape_panda_simulator)/urdf/panda_arm.urdf.xacro' load_gazebo:=true robot_name:=$(arg ns2) origin_y:=0.5"/>


    <!-- Simulator -->

    <!-- We resume the logic in empty_world.launch, changing the name of the world to be launched -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">

        <arg name="world_name" value="$(find aescape_panda_simulator)/worlds/panda.world"/>
        <arg name="paused" value="true"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="recording" value="false"/>
        <arg name="debug" value="false"/>
        <arg name="verbose" value="false"/>

    </include>

    <!-- Left: Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner_$(arg ns1)" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        respawn="false" 
        output="screen"
        args="-urdf -model $(arg ns1) -param $(arg ns1)/robot_description
        -J $(arg ns1)_joint1  0.000 
        -J $(arg ns1)_joint2 -0.500 
        -J $(arg ns1)_joint3  0.000
        -J $(arg ns1)_joint4 -2.000 
        -J $(arg ns1)_joint5  0.000
        -J $(arg ns1)_joint6  1.500
        -J $(arg ns1)_joint7  0.000 "/>

    <!-- Right: Run a python script to the send a service call to gazebo_ros to spawn a URDF robot -->
    <node name="urdf_spawner_$(arg ns2)" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        respawn="false" 
        output="screen"
        args="-urdf -model $(arg ns2) -param $(arg ns2)/robot_description
        -J $(arg ns2)_joint1  0.000 
        -J $(arg ns2)_joint2 -0.500 
        -J $(arg ns2)_joint3  0.000
        -J $(arg ns2)_joint4 -2.000 
        -J $(arg ns2)_joint5  0.000
        -J $(arg ns2)_joint6  1.500
        -J $(arg ns2)_joint7  0.000 -unpause"/>


    <!-- Controller -->

    <!-- Load controller configuration -->
    <rosparam   file="$(find aescape_panda_simulator)/config/controllers.yaml" command="load"/>

    <!-- Left: Load the controller_spawner -->
    <node   name="controller_spawner" 
            pkg="controller_manager" 
            type="spawner" 
            respawn="false"
            output="screen" 
            ns="$(arg ns1)"
            args="cartesian_motion_controller joint_state_controller motion_control_handle"/> 
            
    <!-- Right: Load the controller_spawner -->
    <node   name="controller_spawner" 
            pkg="controller_manager" 
            type="spawner" 
            respawn="false"
            output="screen" 
            ns="$(arg ns2)"
            args="cartesian_motion_controller joint_state_controller motion_control_handle"/>
    

    <!-- rviz -->

    <!-- Left: Robot state publisher, which will publish current robot joint states using tf -->
    <node   name="robot_state_publisher_$(arg ns1)"
            pkg="robot_state_publisher" 
            type="robot_state_publisher"
            respawn="false"
            output="screen">
        <remap from="robot_description" to="$(arg ns1)/robot_description" />
        <remap from="/joint_states" to="/$(arg ns1)/franka_state_controller/joint_states" />
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" type="string" value="" />
    </node>

    <!-- Right: Robot state publisher, which will publish current robot joint states using tf -->
    <node   name="robot_state_publisher_$(arg ns2)"
            pkg="robot_state_publisher" 
            type="robot_state_publisher"
            respawn="false"
            output="screen">
        <remap from="robot_description" to="$(arg ns2)/robot_description" />       
        <remap from="/joint_states" to="/$(arg ns2)/franka_state_controller/joint_states"/>
        <param name="publish_frequency" type="double" value="50.0" />
        <param name="tf_prefix" type="string" value="" />
    </node>

    <!-- Launch visualization in rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aescape_panda_simulator)/config/dual_panda.rviz" required="true" />

</launch>

