<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find aescape_gazebo)/urdf/robot.urdf.xacro'" />
    <param  name="left/robot_description" command="$(find xacro)/xacro --inorder '$(find aescape_gazebo)/urdf/panda_arm.urdf.xacro' arm_id:=left"/>
    <param  name="right/robot_description" command="$(find xacro)/xacro --inorder '$(find aescape_gazebo)/urdf/panda_arm.urdf.xacro' arm_id:=right" />

    <include file="$(find aescape_gazebo)/launch/gazebo.launch"/>
    <include file="$(find aescape_gazebo)/launch/controllers.launch"/>
    <include file="$(find aescape_gazebo)/launch/robot.launch"/>
 
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aescape_gazebo)/rviz/visualize.rviz" required="true" />

    <node   name="DualCartesianMotionController_publisher" 
            pkg="aescape_gazebo" 
            type="DualCartesianMotionController_publisher"
            output="screen">
    </node>

    <node   name="RobotStatus_publisher" 
            pkg="aescape_gazebo" 
            type="RobotStatus_publisher"
            output="screen">
    </node>

</launch>
